* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #ed82e2;
}

header {
    background: linear-gradient(135deg, #43cea2, #185a9d);
    color: rgb(245, 143, 223);
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
   padding:40px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.card h3 {
    margin: 15px;
}

.card p, .card span {
    margin: 0 15px 15px;
    color: #555;
}

button {
    margin: 15px;
    padding: 10px;
    border: none;
    background: #43cea2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #eaeaea;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
}

.contact-info, .contact-form {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-form textarea {
    resize: none;
    height: 120px;
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
    }
}